body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputs-container,
.movies-container {
  width: 45%;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.movie {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.movie span {
  margin-right: 10px;
}

.movie button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 10px;
}

.movie button:hover {
  background-color: #d32f2f;
}

input[type="text"],
input[type="number"],
select {
  width: auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
